@import '@fontsource/fira-mono';

article {
    max-width: 500px;
    position: absolute;
    background-color: #3c3c50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}